/forge164lag/MinecraftForge-Credits.txt~
/forge164lag/MinecraftForge-License.txt~
/forge164lag/mcp/src/minecraft/assets/forge/lang/en_US.lang
/forge164lag/mcp/src/minecraft/assets/forge/lang/es_ES.lang
/forge164lag/mcp/src/minecraft/assets/forge/lang/fr_FR.lang
/forge164lag/mcp/src/minecraft/deobfuscation_data-1.6.4.lzma
/forge164lag/mcp/src/minecraft/forge_at.cfg~
