/common
/fml
/patches
/forge.py
/forge.pyc
/forgeversion.properties
/install.cmd
/install.py
/install.sh
/MinecraftForge-Changelog.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/Paulscode IBXM Library License.txt
/Paulscode SoundSystem CodecIBXM License.txt
/README-MinecraftForge.txt
/client
/mcp/reobf
/mcp/runtime
/mcp/temp
/mcp/bin
/mcp/conf
/mcp/docs
/mcp/eclipse
/mcp/jars
/mcp/lib
/mcp/logs
/mcp/*.sh
/mcp/*.bat

/mcp/LICENSE.txt
/mcp/CHANGELOG
/mcp/src/minecraft/fml_at.cfg
/mcp/src/minecraft/fml_marker.cfg
/mcp/src/minecraft/fmlversion.properties
/mcp/src/minecraft/forge_at.cfg
/mcp/src/minecraft/forge_logo.png
/mcp/src/minecraft/mcp.png
/mcp/src/minecraft/mcpmod.info
/mcp/src/minecraft/Start.java
/mcp/src/minecraft/cpw
/mcp/src/minecraft/ibxm
/mcp/src/minecraft/net
/mcp/src/minecraft/paulscode
!/mcp/src/minecraft/assets/gship/
